# From maven
target/

# Fuseki
apache-jena-fuseki*
apache-jena-fuseki*/
run/

# From the RDF creator
*Graph*.json
rdfCreator/*.ttl

# Renfe project
renfe/renfe.ttl

# Simpson project
simpson/simpson.ttl
simpson/family.ttl
simpson/complete.ttl
